<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
    <session-factory>
    <!-- apuntar al fichero de mapeo ( Objetos - Relacional ) -->
    <mapping resource="com.innova4b.empresaReparto.persistent.Empleado.hbm.xml">
    
    </mapping>
    
    
    <!-- configuracion de la conexion a BD -->
    <property name="connection.driver_class">
    	com.mysql.jdbc.Driver
    </property>
    <!-- linea para mostrar las SQL y ayuda para depurar en consola -->
    <property name="show_sql"></property>
    
    
    
    </session-factory>
    
</hibernate-configuration>
