*{
	margin:0;
	padding:0;
}

nav{
	margin-top:100px;
	background-color:#0080FF;
	overflow:hidden;
	padding:5px;
	width:100%;
}
nav ul{
	list-style:none;
	margin:0 10px 0 10px;
	padding:0;
	margin-left:200px;
}
nav ul li{
	/*Bordes redondeados*/
	-webkit-border-radius:5px;/*Chrome y Safari*/
	-moz-border-radius:5px;/*Firefox*/
	-o-border-radius:5px;/*Opera*/
	border-radius:5px;/*Estandar por defecto*/
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-right:10px;
	text-align:center;
	
}
nav ul li:hover{
	/*Degradado de fondo*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0040FF), to( #0040FF));/*Chrome y Safari*/
	background-image: -moz-linear-gradient(top center, #0040FF, #0040FF);/*Firefox*/
	background-image: -o-linear-gradient(top, #0040FF, #0040FF);/*Opera*/
	background-image: linear-gradient(top, #0040FF, #0040FF);/*Estandar por defecto*/

}
nav ul li a{
	color:#FFFFFF;
	display:block;
	padding:10px;
	
	text-decoration:none;

}
nav ul li a:hover {
	color: #FFFFFF;
}
