<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSP 05 - BEAN - HTML - SERVLET - JSP</display-name>
  
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  
  <!-- DEFINICION DE SERVLET -->
  
  <!-- Muy importante poner el paquete por delante -->
  <servlet>
    <servlet-name>P1</servlet-name>
    <servlet-class>servlet.ServletFormulario</servlet-class>
  </servlet>
  
  
  <!-- MAPPING -->
  
  <servlet-mapping>
    <servlet-name>P1</servlet-name>
    <url-pattern>/procesarFormulario</url-pattern>
  </servlet-mapping>
  
  
</web-app>