<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
		<!-- 		Inyeccion por constructor
			Inyectamos los valores iniciales utilizando el contructor 
		 	Cuando solo se indica el valor, se tiene el orden en cuenta (,,) 	
		 	Cuando se indida el tipo, se tiene en cuenta el tipo 
		 	Cuando se indica el indice, se tiene el cuenta la posicion -->
		 	
	<bean id="persona" class="com.curso.springcore.beans.Persona">
		<constructor-arg value="1"></constructor-arg>
		<constructor-arg type="String" value="Jaime"></constructor-arg>
		<constructor-arg index="2" value="Spri"></constructor-arg>
	</bean>



</beans>
