<!DOCTYPE>
<html lang="EN" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Home page</title>
</head>
<body>

	<h2>Home page</h2>

<ul>
	
	<!-- Solo los usuarios que tengan el privilegio de acceso-gestion-usuarios -->
	<li sec:authorize="hasAuthority('acceso-gestion-usuarios')">
		<a th:href="@{/usuarios}">Gestion de usuarios</a>
	</li>

	<!-- Cualquiera que este logeado puede ver los detalles de usuario -->
	<li sec:authorize="isAuthenticated()">
		<a th:href="@{/mi-usuario_detalles}">Detalles de mi usuario</a>
	</li>

	<!-- Cualquiera que este logeado puede hacer logout -->
	<li sec:authorize="isAuthenticated()"> 
		<a th:href="@{/logout}">SignOut</a>
	</li>

</ul>

</body>
</html>